
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="mx-2 my-2">
    <a href="/admin/registration">Добавить пользователя</a> <br>
    <a href="/admin/deleteuser">Удалить пользователя</a> <br>
    <a href="/admin/creatework">Создать новую услугу</a> <br>
    <a href="/admin/deletework">Удалить услугу</a>
    <br><br>
    <a href="/logout">Выход</a><br>
    <a href="/">Домой</a>
</div>
</body>
</html>